*{
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
}

#background{
  background-color: bisque;
}

.hero-image{
  height: 50%;
  background-image: url(./reypng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}



header{ 
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  color: white;
  background-color: rgb(4, 4, 62);}




  footer{
    display: flex;
    height: 60px;
    background-color: rgb(1, 1, 15);
    color: aliceblue;
    justify-content: space-around
  } 
